* {
    margin: 0px;
    padding: 0px;
}

.img-filter {
    filter: blur(8px);
  -webkit-filter: blur(8px);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fixed-size {
    height: 20%;
    width: 20%;
    object-fit: cover;
}